**.o
**.so
**.class

midpath/midpath/dist
midpath/midpath/bin/*.db

midpath/phoneme/cdc/build/*/.btclasses
midpath/phoneme/cdc/build/*/.btclasses.clist
midpath/phoneme/cdc/build/*/.btclasses.list
midpath/phoneme/cdc/build/*/.democlasses
midpath/phoneme/cdc/build/*/.democlasses.list
midpath/phoneme/cdc/build/*/.javahclasses.list
midpath/phoneme/cdc/build/*/.libclasses
midpath/phoneme/cdc/build/*/.libclasses.clist
midpath/phoneme/cdc/build/*/.libclasses.list
midpath/phoneme/cdc/build/*/.previous.build.flags
midpath/phoneme/cdc/build/*/.system_properties.c
midpath/phoneme/cdc/build/*/.testclasses
midpath/phoneme/cdc/build/*/.testclasses.list
midpath/phoneme/cdc/build/*/bin/
midpath/phoneme/cdc/build/*/btclasses.zip
midpath/phoneme/cdc/build/*/classes.jcc/
midpath/phoneme/cdc/build/*/democlasses.jar
midpath/phoneme/cdc/build/*/democlasses/
midpath/phoneme/cdc/build/*/generated/
midpath/phoneme/cdc/build/*/jcs/
midpath/phoneme/cdc/build/*/lib/
midpath/phoneme/cdc/build/*/obj/
midpath/phoneme/cdc/build/*/testclasses.zip
midpath/phoneme/cdc/build/*/zic_classes/
midpath/phoneme/tools/output/
